@use "../../styles/variables" as *;
@import "../../styles/typegraphy";
@import "../../styles/resets";

.side-nav-link {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    height: 50px;
    background-color: rgba(186, 232, 232, 0.15);
    border-radius: 8px;
    padding: 0 5%;
    font-size: 18px;
    &__number {
        justify-self: end;
        color: $primary-turquoise;
    }
    &__icon {
        fill: $primary-turquoise;
    }
    &__name {
        font-size: 18px;
        font-weight: 500;
    }
    
}