@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$primary-turquoise: #57C5C5;
$primary-grey: #8C9CB1;
$primary-navy: #1B3D51;

$secondary-inactive-inbox: #F5FCFC;
$secondary-white: #FFFFFF;
$secondary-section-dividers: #E8F1F1;
$secondary-inactive-tab: #BCC6CC;

$inter: "inter";

